/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* img, picture, video, canvas, svg {
  display: flex;
  max-width: 100%;
} */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
button, input[type="submit"], input[type="reset"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
  text-decoration: none;
  color: inherit;

}


/* Global Variables */
:root {
  /* Primary Colours */
  --clr-primary-400: hsl(243, 87%, 12%);
  --clr-primary-200: hsl(238, 22%, 44%);

  /* Secondary Colours */
  --clr-accent-Blue: hsl(224, 93%, 58%);
  --clr-accent-Cyan: hsl(170, 45%, 43%);

  /* Neutral Colours */
  --clr-neutral-100: hsl(240, 75%, 98%);
  --clr-neutral-200: hsl(0, 0%, 75%);

  /* Font Family */
  --ff-heading: 'Raleway', sans-serif;
  --ff-body: 'Open Sans', sans-serif;

  /* Font Size */
  --fs-base: 16px;

  /* Font Weight */
  --fw-base: 400;
  --fw-bold: 700;
}

/* Customize Styles */
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}
.page__navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: auto;
  padding: auto 0;
}
.page__navbar img{
  width: 80px;
  height: auto;
}
.page__navbar div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}
.page__navbar p{
  font-size: 0.8rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  color: var(--clr-primary-400);
}
.page__hero-section{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 100%;
height: auto;
}
.page__hero-image img{
  width: 100%;
  height: auto;

  min-width: 200px;
  max-width: 600px;
}
.page__hero-tagline{
  font-size: 1rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);

  color: var(--clr-primary-400);
  text-align: center;
  line-height: 1.2;
}
.page__hero-intro{
  font-size: 0.8rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  color: var(--clr-primary-200);
  text-align: center;
  line-height: 1.5;
}
.page__form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

}
.form-input input{
  width: 300px;
  height: auto;

  border: solid 0.5px var(--clr-primary-400);
  border-radius: 0.2rem;

  font-size: 0.8rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);
  
  color: var(--clr-neutral-200);
  background-color: var(--clr-neutral-100);

  padding: 0.6rem;
}
.form-button{
  width: 300px;
  height: auto;

  border: none;
  border-radius: 0.2rem;

  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  font-family: var(--ff-body);

  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-Blue);

  padding: 0.6rem;
}

/* Second Section */
.page__second-section{
  display: flex;
  flex-direction: column;
}

/* CORRECT THE BACKGROUND IMAGE */
.page__second-section picture{
  z-index: -1;
  position: absolute;

  display: flex;

  width: auto;
  height: auto;

}
.second-section-image img{
  width: 100%;
  height: auto;
}


.second-section-content{
  z-index: 1;
  position: relative;
}
.second-section-image2 img{
  width: 100%;
  height: auto;
}
.second-section-heading{
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);

  color: var(--clr-primary-400);
  text-align: center;
}
.second-section-feature{
  font-size: 0.8rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  color: var(--clr-primary-200);
  text-align: center;
  line-height: 1.5;
}

.second-section-link{
  display: flex;
  justify-content: center;
}
.link {
  font-size: 0.6rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);
  
  color: var(--clr-accent-Cyan);
  
  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  border-bottom: 1px solid var(--clr-accent-Cyan);
}
#arrow-image{
  width: 15px;
  height: auto;
}

.second-section-testimonial{
  display: flex;
  flex-direction: column;
 
  padding: 1.5rem;
  border-radius: 0.3rem;
  color: var(--clr-primary-400);
  background-color: white;

  box-shadow: 1px 1px 15px 1px hsl(0, 0%, 75%);

  gap: 0.8rem;
  margin: 1rem 2rem;
}
#quote{
  width: 10px;
  height: auto;
}
.second-section-testimonial p{
  font-size: 0.6rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  color: var(--clr-primary-200);
  line-height: 1.5;
  
}
.second-section-testimonial-avatar{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  gap: 0.5rem;
}
#avatar{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.second-section-testimonial-content{
  display: flex;
  flex-direction: column;
  
  gap: 0.1rem
}
.second-section-testimonial-content h3{
  font-size: 0.5rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);

  color: var(--clr-primary-400);
}
.second-section-testimonial-content p{
  font-size: 0.4rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  color: var(--clr-primary-200);
  text-align: center;
  line-height: 1.5;
}

/* Third Section */
.page__third-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}
.third-section-content h2{
  font-size: 1rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-heading);

  text-align: center;
}
.third-section-content p{
  font-size: 0.8rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  text-align: center;
  line-height: 1.5;
}
.third-section-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}
.section-form-buttons input{
  width: 300px;
  height: auto;

  border: none;
  border-radius: 0.2rem;

  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  font-family: var(--ff-body);

  color: hsla(240, 75%, 98%, 0.9);
  background-color: var(--clr-neutral-100);

  padding: 0.6rem;
}
.button2{
  width: 300px;
  height: auto;

  border: none;
  border-radius: 0.2rem;

  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  font-family: var(--ff-body);

  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-Blue);

  padding: 0.6rem;
}

/* Footer */
.footer{
  display: flex;
  flex-direction: column;
 

  width: 100%;
  height: auto;

  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
 
  font-family: var(--ff-body);
  padding: 6rem 3rem;
}
.page__footer{
  display: flex;
  flex-direction: column;
  
  gap: 3rem;

}
.page__footer img{
  width: 150px;
  height: auto;

  background-color: var(--clr-neutral-100);
}
.icon__temp{
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

}
.footer-contact-info1{
  display:flex;
  flex-direction: row;
  align-items: center;
  
  gap: 1rem;
  font-size: 1rem;
 
 }
#icon{
  width: 15px;
  height: 15px;

  background-color: var(--clr-primary-400);
}
.footer-contact-info{
  display: flex;
  flex-direction: column;

  gap: 0.8rem;
 }
.footer-contact-info p{
  font-size: 1rem;
  font-weight: var(--fw-base);
  font-family: var(--ff-body);
  line-height: 1.5;

  color: var(--clr-neutral-100);
} 
.footer-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}
.footer-links img{
  width: 25px;
  height: auto;
  background-color: var(--clr-primary-400);
}